In [51]:
import pandas as pd
import numpy as np

# Load stock data
raw = pd.read_csv(r'C:\Users\Jrans\Desktop\Model Comparison Project\Data\FinalSet.csv')

# Change data type
raw['date'] = pd.to_datetime(raw['date'], errors='coerce')

# Convert 'date' to period (YYYY-MM format)
raw['date'] = raw['date'].dt.to_period('M')

print(raw.head(),raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446870 entries, 0 to 446869
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            446870 non-null  period[M]
 1   open            446870 non-null  float64
 2   high            446870 non-null  float64
 3   low             446870 non-null  float64
 4   close           446870 non-null  float64
 5   adjusted_close  446870 non-null  float64
 6   return          446870 non-null  float64
 7   log_return      446870 non-null  float64
 8   volume          446870 non-null  int64
 9   dividend        446870 non-null  float64
 10  ticker          446870 non-null  object
 11  sector          446870 non-null  object
dtypes: float64(8), int64(1), object(2), period[M](1)
memory usage: 40.9+ MB
      date   open    high    low   close  adjusted_close     return  \
0  2004-11   0.04    1.60   0.04    0.75          0.5907  17.752381
1  2021-01  19.00  483.00  17.08  325.00         81.2500  16.250531
2  2009-05   1.01   14.79   1.00   14.64         14.6400  13.495050
3  2014-06   2.71   38.50   2.71   35.35         35.3500  12.044280
4  2020-07   2.24   60.00   2.00   21.85         21.8500   8.798206

   log_return      volume  dividend ticker        sector
0    2.931321     3148400       0.0     WT    Financials
1    2.847843  1237565707       0.0    GME  C_Discretion
2    2.673807    54293500       0.0   VNDA   Health_Care
3    2.568350       13250       0.0   SXCL        Energy
4    2.282199   696367736       0.0   KODK             0   None

In [52]:
# Drop rows where 'sector' is "0"
raw = raw[raw["sector"] != "0"]

print(f"Final shape: {raw.shape}")

Final shape: (443995, 12)

In [53]:
# Define the cutoff date
cutoff_date = pd.Period("2000-11", freq="M")

# Filter the DataFrame to keep only rows from November 2000 onwards
raw0 = raw[raw["date"] >= cutoff_date]

# Display the first few rows
print(raw0.head())

# Optional: Save the filtered data to a CSV file
raw0.to_csv("raw0.csv", index=False)
print("Filtered data saved to raw0.csv")

      date   open    high    low   close  adjusted_close     return  \
0  2004-11   0.04    1.60   0.04    0.75          0.5907  17.752381
1  2021-01  19.00  483.00  17.08  325.00         81.2500  16.250531
2  2009-05   1.01   14.79   1.00   14.64         14.6400  13.495050
3  2014-06   2.71   38.50   2.71   35.35         35.3500  12.044280
6  2003-06   4.18   25.91   3.59   22.32         22.1245   4.443887

   log_return      volume  dividend ticker        sector
0    2.931321     3148400       0.0     WT    Financials
1    2.847843  1237565707       0.0    GME  C_Discretion
2    2.673807    54293500       0.0   VNDA   Health_Care
3    2.568350       13250       0.0   SXCL        Energy
6    1.694493    62025400       0.0   BKNG  C_Discretion
Filtered data saved to raw0.csv

In [54]:
# Count unique tickers per sector
unique_ticker_counts = raw.groupby('sector')['ticker'].nunique()

# Display result
print(unique_ticker_counts)

sector
C_Discretion    263
C_Staples        99
Com_Services     75
Energy          105
Financials      288
Health_Care     239
Index             1
Industrials     290
Info_Tech       254
Materials       113
Real_Estate     128
Utilities        67
Name: ticker, dtype: int64

In [55]:
# Calculate the timespan per Ticker (in months)
ticker_timespan = raw.groupby(['sector', 'ticker'])['date'].agg(lambda x: (x.max() - x.min()).n)

# Average timespan per sector in years
avg_timespan = ticker_timespan.groupby('sector').mean() / 12

# Round to 2 decimal places
avg_timespan = avg_timespan.round(2)

# Display result
avg_timespan

sector
C_Discretion    19.37
C_Staples       20.56
Com_Services    16.01
Energy          17.00
Financials      19.76
Health_Care     18.16
Index           24.17
Industrials     20.32
Info_Tech       18.47
Materials       19.29
Real_Estate     18.91
Utilities       22.26
Name: date, dtype: float64

In [56]:
# Load risk free rate
rfr = pd.read_csv(r"C:\Users\Jrans\Desktop\Model Comparison Project\Data\3month_treasury_rate.csv")
rfr.head()

        date      rate       ticker
0  1/31/1995  0.059015  3M_treasury
1  2/28/1995  0.059395  3M_treasury
2  3/31/1995  0.059104  3M_treasury
3  4/30/1995  0.058379  3M_treasury
4  5/31/1995  0.058477  3M_treasury

In [57]:
print(raw0.columns)

Index(['date', 'open', 'high', 'low', 'close', 'adjusted_close', 'return',
       'log_return', 'volume', 'dividend', 'ticker', 'sector'],
      dtype='object')